.two-controls {
  display: flex;
}
.two-controls .control {
  margin-right: 1rem;
}
.is-vertical .field {
  height: 35px;
}
.checkboxes-rows {
  display: flex;
  flex-direction: row;
  &__title {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }
}

.checkboxes-group {
  margin: 0.5rem;
  &__title {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }
}

.checks-container {
  margin-top: 1rem;
}
.radio-rows {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0rem;
  &__label-container {
    padding: 0.25rem 0rem;
  }
  &__options-container{
    display: flex;
    padding: 0.25rem 0rem;
    flex-flow: row wrap;
    justify-content:space-around;
  }
  &__options-container-item{
    padding: 0.25rem 0rem;
  }
}
