.two-controls {
  display: flex;
   .field {
     max-width: 50%;
   }
}
.two-controls .control {
  margin-right: 1rem;
}
.is-vertical .field {
  height: 35px;
}
.checkboxes-rows {
  display: flex;
  flex-direction: row;
  &__title {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }
}

.checkboxes-group {
  margin: 0.5rem;
  &__title {
    margin-right: 0.8rem;
    font-size: 0.9rem;
  }
}

.checks-container {
  margin-top: 1rem;
}
.radio-rows {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0rem;
  &__label-container {
    padding: 0.25rem 0rem;
  }
  &__options-container{
    display: flex;
    padding: 0.25rem 0rem;
    flex-flow: row wrap;
    justify-content:space-around;
  }
  &__options-container-item{
    padding: 0.25rem 0rem;
  }
}

.guide-section {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  margin: 0.5rem;
}
.guide-step{
  display: flex;
  flex-flow: column;
  margin: 0.5rem;
  max-width:300px;
  &__text{
    text-align:center;
    white-space:pre-wrap;
    height:auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
.info-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.info-step {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  &__header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-top: 0.25rem;
    img {
      height:100%;
      max-width: 500px;
      width: 100%;
    }
  }
  &__text {
    display: flex;
    flex-flow: column wrap;
  }
  &__help {
    margin: 0rem 1rem;
  }
}
.img-section {
  display: flex;
  flex-flow: row wrap;
}
.img-container{
  margin: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
}
.img-header {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:space-between;
  &__pic {
    margin: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }
  &__text {
    width:100%;
    margin: 0.5rem;
  }
  &__icon {
    margin: 0;
    margin-left: 0.5rem;
  }
  img{
    width:100%;
 }
}
.img-option-text{
  text-align:center;
  white-space:pre-wrap;
  height:100%;
}
.img-option {
  margin: 0.5rem;
  height:100%;
  label{
    width:100%;
    height:100%;
  }
  img{
    height:100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  &__active {
    border: solid 3px green;
  }
  &__active-left {
    border: solid 3px green;
    border-right: 0;
  }
  &__active-right{
    border: solid 3px green;
    border-left: 0;
  }
  &__inactive {
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    z-index:1;
    background-color: green;
    &__active {
      opacity: 0.3;
    }
    &__inactive {
      opacity: 0;
    }
  }
}
