html {
  background-color: #eaedf1 !important;
//   overflow: hidden;
}

.form-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: left;
  &__title {
    text-decoration: underline;
    font-size: 1.2rem;
  }
}