.imgOption {
  label.b-radio.radio.button.is-primary{
    background-color: #64b300;
  }
  label.b-radio.radio.button.is-focused{
    border-color: transparent;
  }
  .b-radio.radio.button {
    padding: 0;
    border:0;
    height:100%;
    width:100%;
    background-color: transparent;
  }
  label.b-checkbox.checkbox.button.is-primary{
    background-color: #64b300;
  }
  label.b-checkbox.checkbox.button.is-focused{
    border-color: transparent;
    box-shadow: none;
  }
  .b-checkbox.checkbox.button {
    padding: 0;
    border:0;
    height:100%;
    width:100%;
    background-color: transparent;
  }
}
.field.imgSection.has-addons {
  justify-content:center;
}
div.control.imgOption {
  margin-right:0.5rem !important;
}
