/* Resolution Breakpoints Calculated with a font-size of 16 ( Standard ) */
$breakpoint-movil-to-tablet: 46.875em;
$breakpoint-tablet-to-desktop: 65.625em;
$breakpoint-desktop-to-hight-resolution: 91.625em;
