/* Font */
$app-font: "Montserrat", helvetica, arial, sans-serif;
$app-font-size: 100%;
$headers-font-size: 1.7rem;
$subheader-font-size: 1.1rem;
$font-color-primary: #333333;
$font-color-medium: #989aa2;
$font-color-light: #f4f5f8;
